<thead>
  <h5 class="top-head">
    ようこそ、ながのCAKEへ！<br>
    このサイトは、ケーキ販売のECサイトとなります。<br>
    会員でない方も商品の閲覧はできますが、<br>
    購入には会員登録が必要になります。
  </h5>
</thead>
<tbody>
<div class="top-body">
  <h2>新着商品</h2>
  <div class="item-table">
  <% @items.each do |item| %>
    <table>
      <tr><td class="tddd"><%= image_tag item.get_image, size:"100x100" %></td></tr>
      <tr><td class="tdd"><%= item.name %></td></tr>
      <tr><td class="tdd">¥<%= item.price %></td></tr>
    </table>
  <% end %>
  </div>
  <%= link_to "全ての商品を見る >", public_items_path %>
</div>
</tbody>
