<table>
  <tr>
    <td>購入日時</td>
    <td>購入者</td>
    <td>注文個数</td>
    <td colspan="5"></td>
  </tr>
  <% @order.each do |order| %>
    <table>
      <tr>
        <td><%= order.created_at.strftime('%Y/%m/%d %H:%M') %></td>
        <td><%= order.customer.name %></td>
        <td><%= order.order_cart.amount %></td>
        <td colspan="5"></td>
      </tr>
    </table>
  <% end %>
</table>

